<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}عنوان الصفحة{% endblock %}</title>
    <!-- Add your CSS links here -->
</head>
<body>
    <header>
        <h1>عنوان الصفحة</h1>
        <h1>aaaa</h1>
        <!-- Add your header content here -->
    </header>

    <nav>
        <!-- Add your navigation links here -->
    </nav>

    <main>
        {% block content %}
        <!-- Main content of the page goes here -->
        {% endblock %}
    </main>

    <footer>
        <!-- Add your footer content here -->
    </footer>

    <!-- Add your JavaScript links here -->
</body>
</html>